-- MySQL dump 10.13  Distrib 5.7.37, for Win64 (x86_64)
--
-- Host: localhost    Database: jst_padi
-- ------------------------------------------------------
-- Server version	5.7.37-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `data_iklim`
--

DROP TABLE IF EXISTS `data_iklim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `data_iklim` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `stasiun` varchar(1) NOT NULL DEFAULT '1',
  `tahun` varchar(4) NOT NULL DEFAULT '1',
  `suhu_min` float DEFAULT NULL,
  `suhu_max` float DEFAULT NULL,
  `suhu_avg` float DEFAULT NULL,
  `humidity_avg` float DEFAULT NULL,
  `curah_hujan` float DEFAULT NULL,
  `hari_hujan` float DEFAULT NULL,
  `penyinaran` float DEFAULT NULL,
  PRIMARY KEY (`stasiun`,`tahun`) USING BTREE,
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_iklim`
--

LOCK TABLES `data_iklim` WRITE;
/*!40000 ALTER TABLE `data_iklim` DISABLE KEYS */;
INSERT INTO `data_iklim` VALUES (1,'1','2011',21.21,33.85,24.51,83.71,2903,212,42.5),(2,'1','2012',19.95,34.04,26.55,83.83,2508,225,53.5),(3,'1','2013',20.6,37,26.72,84.27,3006,243,33.01),(4,'1','2014',19.8,36.7,26.9,82.94,2371,221,34.55),(5,'1','2015',23.5,32.8,27,80,2509,149,61.6),(6,'1','2016',22.6,34.4,27.2,85,2975,238,51),(7,'1','2017',20.4,36.8,26.65,85.83,3263,247,39.4);
/*!40000 ALTER TABLE `data_iklim` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_model`
--

DROP TABLE IF EXISTS `data_model`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `data_model` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `path` varchar(50) DEFAULT NULL,
  `node` varchar(2) DEFAULT NULL,
  `epoch` int(11) DEFAULT NULL,
  `mae` float DEFAULT NULL,
  `size` float DEFAULT NULL,
  `rate` float DEFAULT NULL,
  `loss` json DEFAULT NULL,
  `result` json DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_model`
--

LOCK TABLES `data_model` WRITE;
/*!40000 ALTER TABLE `data_model` DISABLE KEYS */;
/*!40000 ALTER TABLE `data_model` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_padi`
--

DROP TABLE IF EXISTS `data_padi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `data_padi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kota` varchar(50) NOT NULL DEFAULT '1',
  `tahun` varchar(4) NOT NULL DEFAULT '2000',
  `luas_panen` float DEFAULT NULL,
  `luas_lahan` float DEFAULT NULL,
  `produktivitas` float DEFAULT NULL,
  `produksi` float DEFAULT NULL,
  PRIMARY KEY (`kota`,`tahun`) USING BTREE,
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_padi`
--

LOCK TABLES `data_padi` WRITE;
/*!40000 ALTER TABLE `data_padi` DISABLE KEYS */;
/*!40000 ALTER TABLE `data_padi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_prediction`
--

DROP TABLE IF EXISTS `data_prediction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `data_prediction` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `path` varchar(50) DEFAULT NULL,
  `data` json DEFAULT NULL,
  `created_on` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_prediction`
--

LOCK TABLES `data_prediction` WRITE;
/*!40000 ALTER TABLE `data_prediction` DISABLE KEYS */;
/*!40000 ALTER TABLE `data_prediction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(50) DEFAULT '',
  `username` varchar(50) NOT NULL DEFAULT '',
  `hashed_password` varchar(100) NOT NULL DEFAULT '',
  `is_active` tinyint(1) NOT NULL DEFAULT '0',
  `is_superuser` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (3,'admin','admin','$2b$12$r2VrXqIEfvFa6RKT/bi5yOUTULswC1hFfTmmsuGSUYh6qYGQORpye',1,1),(6,'tigrex','tigrex','$2b$12$ve1QDXreHnDGDfJZ0SQGt.OgjkxtjKjDSYaxRCTzvm.6jaoUHxz6.',1,0),(7,'Hafiz Anshori','hafzansh','$2b$12$rxAa3dOCzoTSj6TT.WkKFu2rPqcsT898PmMxUNXXE4PZQ1QzrP66O',1,1);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-07-30 13:09:26
